node_modules/
dist/
out/
resources/icons/

# Base de donnees locale
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Variables d'environnement
.env
.env.production
server/.env

# Logs serveur
logs/

*.pdf